<h5 class="text_font text-white">{{firstName}}</h5>
<h5 class="text_font text-white mt-0">{{lastName}}</h5>
<div class="col-sm-12 border-bottom">
    <label class="h5 text_font text-white">Account Info</label>
</div>
<div class="col-sm-12 border-bottom">
    <label class="h5 text_font text-white">Phone Number</label>
</div>
<div class="col-sm-12 border-bottom">
    <label class="h5 text_font text-white">Mail Address</label>
</div>
<div class="col-sm-12 border-bottom">
    <label class="h5 text_font text-white">Reset Password</label>
</div>
