<h5 class="text_font text-white">{{firstName}}</h5>
<h5 class="text_font text-white mt-0">{{lastName}}</h5>
<div class="col-sm-12 border-bottom text_hover mt-4">
    <label class="h5 text_font text-white" (click)="changeStatus('accountInfo')"  >Account Info</label>
</div>
<div class="col-sm-12 border-bottom text_hover">
    <label class="h5 text_font text-white" (click)="changeStatus('phoneNumber')"  >Phone Number</label>
</div>
<div class="col-sm-12 border-bottom text_hover">
    <label class="h5 text_font text-white" (click)="changeStatus('mailAddress')"  >Mail Address</label>
</div>
<div class="col-sm-12 border-bottom text_hover">
    <label class="h5 text_font text-white" (click)="changeStatus('resetPassword')">Reset Password</label>
</div>
